<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="./static/app.css">
    <link rel="stylesheet" type="text/css" href="./static/indoorun.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script type="text/javascript" src="./static/libidrn.min.js"></script>
  </head>
  <body id="body">
    <div id="map" class="page"></div>
    <div id="emptyspace">
      <emptyspace v-if="show" v-on:onclick="onFindEmptySpace" v-bind:dofind="doFind"></emptyspace>
    </div>
    <div id="locateState">
      <locatestatediv v-if="show" v-bind:dolocate="dolocate" v-on:onclick="doLocating"></locatestatediv>
    </div>
    <div id="floorList">
      <floorlistdiv v-if="show" v-bind:floorlist="floorList" v-bind:selectfloorid="currentFloorId" v-bind:locatefloorid="locateFloorId" v-on:onselect="onSelect"></floorlistdiv>
    </div>
    <findwithnum id="findwithnum" v-show="show" v-on:selectcar="onSelectCar" v-bind:error="error" v-bind:carlist="carlist" v-on:close="onClose" v-on:changetosearchunit="onChangeToSearchUnit" v-on:confirm="onFindByCarNo"></findwithnum>
    <findwithunit id="findwithunit" v-show="show" v-on:onfindunits="onFindUnits" v-bind:map="map" v-on:onclose="onClose" v-on:onmarkinmap="onMarkInMap"></findwithunit>
    <div id="markwithble">
      <markwithble v-show="show" v-bind:name="name" v-on:confirm="onConfirm" v-on:close="onClose"></markwithble>
    </div>
    <div id="footer">
      <normalbottombar v-for="item in btnInfos" v-bind:data="item" v-bind:key="item.type"></normalbottombar>
    </div>
    <div id="publicfacility">
      <publicfacilitydiv v-on:onclick="onclick"></publicfacilitydiv>
    </div>
    <div id="findfacility">
      <findfacilityview v-bind:facilities="facilitys" v-on:onnavigateto="onNavigateTo"></findfacilityview>
    </div>
    <div id="navigate">
      <navigatebottombar v-if="show" v-bind:routers="routerpos" v-bind:initfloorid="initFloorId" v-on:onexit="onStopNavigate" v-on:showfloor="onShowSelectFloor"></navigatebottombar>
    </div>
    <div id="alertbox">
      <alertbox v-bind:title="title" v-bind:message="message" v-bind:buttons="buttons"></alertbox>
    </div>
    <div id="bottombar">
     <bottombar v-bind:message="message"></bottombar>
    </div>
    <div id="updatemaker">
      <updatemarkerview v-if="show" v-bind:x="x" v-bind:y="y" v-on:ondelete="deleteMarker" v-on:onchangepos="changeMarkerPos" v-on:onshare="share"></updatemarkerview>
    </div>
    <div id="errortip">
      <errortipview v-bind:message="message" v-bind:opacity="display"></errortipview>
    </div>
    <div id="zoom">
      <zoom v-bind:map="map"></zoom>
    </div>
    <label id="debug"></label>
  </body>
</html>
